* {
    text-decoration: none;
    margin: 0px;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'open sans', sans-serif;
    background-color: #fff6e4;
}

.galery {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #fff2d9;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ed5244;
    z-index: 1;
    border: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #fff2d9;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ed5244;
}

p {
    color: #794a3a;
}

h2 {
    font-family: serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 10px;
    color: #ed5244;
    width: 100%;
    line-height: 50px;
}

a.tbl-pink {
    background: #ed5244;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff2d9;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #92190e;
}

p {
    margin: 20px 0px 10px 0px;
    padding: 10px 0px 15px 0px;
}

a.tbl-yellow {
    background: #794a3a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff2d9;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-yellow:hover {
    background: #492215;
}

a.tbl-hijau {
    background: #794a3a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff2d9;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover {
    background: #492215;
}

a.tbl-abu {
    background: #794a3a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff2d9;
    cursor: pointer;
    font-weight: bold; 
}

a.tbl-abu:hover {
    background: #492215;
}

h1 {
    color: #ed5244;
    margin-top: 10px;
}

.kontak-list {
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kontak-gambar {
    width: 20%;
    margin: 0 auto;
}


.kontak-gambar img {
    width: 80%;
}

.zine-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.zine-gambar {
    width: 20%;
    margin: 0 auto;
}

.zine-gambar img {
    width: 150px;
    border-radius: 50%;
}